.header__layout {
	display: flex;
	margin: 0 auto;
	padding: 10px 15px;
}
.header__right {
	display: flex;
	width: 100%;
	flex-direction: row-reverse;
}
.header__ip {
	vertical-align: middle;
	margin-top: 30px;
	margin-right: 10px;
}
